* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.html, body {
    font-size: 19.3px;
    line-height: 1.8;
    font-weight: 400;
}

body{
    background-color: #EEE6D8;

}

header {
    background-color: red;
    width: auto;
    height: 70px;
}

.retour {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 90px;
    left: 220px;
    border-radius: 5px;
}

.accueil {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEE6D8;
    height: 641px;
    width: auto;
    margin-left: 200px;
}

.carte-connexion {
    height: 461px;
    width: 420px;
    background-color: #FFF3DE;
    border-radius: 15px;
}

.carte-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carte-texte h3 {
    font-family: "Winter minie";
    font-size: 25px;
    display: flex;
    margin: 0 10px;
    padding: 0 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
  }
  
  .form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .form input[type="email"],
  .form input[type="password"] {
    border-radius: 0.5rem;
    padding: 1rem 0rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #C9BEAB;
    outline: 2px solid #aca292;
  }
  
  .form input[type="email"]:focus,
  .form input[type="password"]:focus {
    outline: 2px solid #6BD871;
  }
  
  .label {
    align-self: flex-start;
    color: #000;
    font-weight: 600;
  }
  
  .form .submit {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 15px;
    background-color: #6BD871;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
  }
  
  .form .submit:hover {
    background-color: #5db162;
    color: #fff;
  }
  
  .span {
    font-size: 15px;
    text-decoration: none;
    color: #000;
  }
  
  .span a {
    text-decoration: underline;
    color: #000;
  }
  

.carte-texte {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: blue;
    z-index: 1;
}

footer {
    display: flex;
    position: fixed;
    background-color: green;
    height: 200px;
    width: 100%;
    left: 0;
    bottom: 0;
}