/* footer */
@font-face {
    font-family:winter minie ;
    src: url(/winter_minie/Winter\ Minie.ttf);
 }

 footer {
    bottom: 0;
    left: 0;
}

.main-container {
    position: relative;
    width: 1587px;
    height: 294px;
    margin: 0 auto;
    background: #eee6d8;
    box-sizing: border-box;

  }

.navigation {
    position: absolute;
    width: 231px;
    height: 238px;
    top: 26px;
    left: 100px;
    z-index: 4;
}

 h3 span{
  padding: 10px;
  font-family: 'winter minie', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  }

  ul{
    padding: 0;
    list-style: none;
    font-family: 'poppins';
    text-align: center;
  }

a{
    text-decoration: none;
    color: black;
}
  
.container{
  position: absolute;
  width: 747px;
  height: 197px;
  margin-left: 409px;
  background: #c8bdab;
  border-radius: 15px;
  top: 26px;
  text-align: center;
}
.visit{
  font-family: Poppins;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
}
.touch{
    width: 413px; 
    height: 46px;
    margin:55px 167px 20px 167px  ;
    border-radius: 15px;
    background-color: #eee6d8;
}
 .keep{
    font-family: Poppins;
    font-size: 20px;
    padding: 8px 115px 8px 115px;
 }

 .dorian{
  width: 299px;
  height: 24px;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  padding: 247px 627px 24px 627px ;
 }

 .coordonne{
    position: absolute;
    width: 231px;
    height: 238px;
    top: 26px;
    left: 1251px;
    z-index: 4;
 }

 .adresse{
    font-family: 'poppins';
    text-align: center;
 }